/* Reset default margin and padding */
body, h1, h2, h5, p {
  margin: 0;
  padding: 0;
}

/* Set box-sizing to border-box for all elements */
* {
  box-sizing: border-box;
}

/* Responsive styles for header */
header {
  background-color: #000000;
  padding: 20px;
}

.logo img {
  max-width:10%;
}
nav{
  display:flex;
  justify-content: right;
}
nav ul {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
nav ul li a:hover{
  color: orange;
}

/* Responsive styles for main content */
main {
  padding: 20px;
}

.cta {
  text-align: center;
  margin-bottom: 20px;
  background-image: url(part1pic.jpeg);
  background-size: cover;
  background-position: center;
}

.cta h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.cta h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.cta span{
  background-color: #000000;
  color:orange;
  font-weight: bold;
  text-decoration:solid;
}
.cta p {
  font-size: 18px;
  margin-bottom: 10px;
}

.cta form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cta input[type="email"] {
  padding: 10px;
  width: 300px;
}

.cta button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.intro {
  text-align: center;
  margin-bottom: 20px;
}

.intro h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.intro i {
  font-size: 80px;
  font-family:"Sofia", sans-serif;
  color: #6ad7e1;
  size: 100%;
  text-shadow: 3px 3px 3px #fa9f42;
}

.center-text {
  background-color: orange;
  border-radius: 1%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.items {
  background-color: #ffffff;
  border-radius: 2%;
  padding: 40px;
  flex: 0 0 300px;
  margin: 10px;
  text-align: center;
}

.items h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.items p {
  font-size: 16px;
  margin-bottom: 10px;
}

.items img {
  max-width: 100%;
  height: auto;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.aboutus {
  flex: 0 0 300px;
  margin: 10px;
}

.aboutus img {
  max-width: 100%;
  height: auto;
}

.about div {
  flex: 1;
}

.about h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about p {
  font-size: 16px;
  margin-bottom: 10px;
}

.offer {
  text-align: center;
  margin-bottom: 20px;
}

.offer h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.offer .one,
.offer .two,
.offer .three {
  margin-bottom: 20px;
}

.offer .one img,
.offer .two img,
.offer .three img {
  max-width: 100%;
  height: auto;
}

.offer .one1,
.offer .two1,
.offer .three1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.offer .one1 img,
.offer .two1 img,
.offer .three1 img {
  border-radius: 50%;
  max-width: 50px;
  height: auto;
  margin-right: 10px;
}

.offer .one2,
.offer .two2,
.offer .three2 {
  margin-bottom: 10px;
}

.offer .one2 img,
.offer .two2 img,
.offer .three2 img {
  max-width: 20px;
  height: auto;
  margin-right: 5px;
}

.offer p {
  font-size: 16px;
  margin-bottom: 10px;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
}

.footer_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_tag {
  flex: 0 0 200px;
  margin-bottom: 10px;
}

.footer_tag h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer_tag p {
  font-size: 16px;
  margin-bottom: 5px;
}

.footer_tag i {
  margin-right: 5px;
}
